@using RealEstateApp.Core.Application.ViewModels.Mejoras;

@{
    ViewData["Title"] = "Mejoras";
}

<div class="text-center">
    <h1 class="display-4">Mejoras</h1>
    <p>Controlador de mejoras
</div>
<a class="btn btn-warning" asp-action="Index" asp-controller="Propiedad"> Volver </a>

<a class="btn btn-success" asp-action="CreateView" asp-controller="Mejora"> Crear Mejora </a>

<div class="container mt-5">
    <div class="row">
        @foreach (MejoraViewModel element in ViewBag.Mejoras)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@element.Nombre</h5>
                        <p class="card-text"> @element.Descripcion</p>
                        <a href="@Url.Action("Edit", new { id = element.Id })" class="btn btn-primary">Editar</a>
                        <a href="@Url.Action("Delete", new { id = element.Id })" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>