@{
    ViewData["Title"] = "Agentes";
}

<div class="text-center">
    <h1 class="display-4">Agentes</h1>
    <p>Controlador de agentes</div>

    <ul class="list-group">
        <li class="list-group-item"> <a asp-controller="Propiedad" asp-action="Index" class="btn btn-primary">Propiedades </a> </li>
        <li class="list-group-item"> <a asp-controller="TipoDePropiedad" asp-action="Index" class="btn btn-primary">Tipos de Propiedades </a> </li>
        <li class="list-group-item"> <a asp-controller="Mejora" asp-action="Index" class="btn btn-primary">Mejoras </a> </li>
        <li class="list-group-item"> <a asp-controller="TipoDeVenta" asp-action="Index"  class="btn btn-primary">Tipos de Ventas </a> </li>
    </ul>
